# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
.eggs/
dist/
build/
lib/
lib64/
parts/
var/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.mypy_cache/
.pytest_cache/
.coverage
.tox/

# Kotlin/Android
.gradle/
*/build/
build/
app/build/
.cxx/
local.properties
.idea/
*.iml
*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.aar
*.keystore
*.jks

# Tooling
.DS_Store
.vscode/
*.swp
*.swo
node_modules/
