body {
    font-family: sans-serif;
    background: #f9f9f9;
    color: #222;
    margin: 0;
    padding: 1rem 2rem;
}
header, section, footer {
    max-width: 800px;
    margin: auto;
}
header h1 {
    font-size: 2rem;
}
nav { margin-bottom: 1rem; }
nav a { text-decoration: none; margin-left: .5rem; }
ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}
